@import url("./variables.css");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 390px;
  min-width: 600px;
  font-size: calc(var(--font-size) * var(--space-medium));
  font-family: --font-family;
  background-color: var(--color-bg-base);
  justify-items: center;
  display: grid;
}

.visually-hidden {
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
}

/**
 * Layout
 **/

.surface {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  height: max-content;
  width: fit-content;
  max-width: var(--surface-maxWidth);
  min-width: 450px;
  min-height: 200px;
  color: var(--color-fg-surface);
  border: var(--space-smallest) solid var(--color-primary-base);
}

.surface > main {
  padding: var(--space-medium);
  display: flex;
  flex-direction: column;
}

/**
 * Searchbar
 **/

#searchbar {
  display: flex;
  margin: 5px 0;
}

#searchbar > button {
  width: calc(var(--space-medium) * 2);
  color: var(--color-primary-fg);
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  outline: none;
}

#searchbar > button > .feather-search {
  width: 1.2rem;
}

#searchbar > button:hover {
  color: var(--color-primary-base);
}

#searchbar > button:focus-visible {
  color: var(--color-primary-base);
  outline: var(--space-smallest) solid var(--color-fg-shade);
}

#searchbar > input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: var(--space-smallest) solid var(--color-fg-base);
}

#searchbar > input:focus-visible {
  border-color: var(--color-primary-base);
}

/**
 * Bookmarks
 **/

#bookmarks {
  margin: 10px 0 0 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.bookmark-group {
  width: calc(100% / var(--group-count));
  min-width: 150px;
  margin: 0 5px;
}

.bookmark-group > h2 {
  color: var(--color-secondary-fg);
  font-size: calc(var(--font-size) * var(--space-medium));
  font-weight: 500;
  margin: 0;
}

.bookmark-group > ul {
  margin: 0;
  padding: 0;
}

.bookmark-group > ul > li {
  position: relative;
  list-style: none;
}

.bookmark-group > ul > li > a {
  display: block;
  padding: 2px 0;
}

.bookmark-group > ul > li > a:hover::before,
.bookmark-group > ul > li > a:focus-visible::before {
  content: ">";
  position: absolute;
  left: -1rem;
}
