:root {
  /** colors */
  --color-name: forest;
  --color-bg-base: #313D3B;
  --color-bg-surface: #313D3B;
  --color-fg-surface: #A4B9B3;
  --color-fg-base: #A4B9B3;
  --color-primary-base: #5F8566;
  --color-primary-fg: #A4B9B3;
  --color-secondary-fg: #5F8566;

  /** general */
  --font-family: 'Noto Sans Mono';
  --font-size: 1.4;

  /** surface */
  --surface-maxWidth: 800px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --group-count: 4;
}