:root {
	--color-background: black;
	--color-text: #fdfdfd;
	--color-grey: #a5a5a5;
}
.prose p:has(strong) {
	margin-top: 1rem;
}

.prose details {
	padding: 6px 10px; 
	border: 1px solid var(--color-text);
}

.prose details > summary {
	padding: 2px 0;
	cursor: pointer;
}

.prose details > p {
	margin: 2px 0;
	cursor: pointer;
}

div {
	scrollbar-width: thin;
	scrollbar-color: var(--color-grey) #0000;
}
