@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-mono: var(--font-jetbrains-mono), var(--font-noto-sans-cjk), var(--font-symbols-nerd-font), monospace;
}

@theme {
    --color-black: #080808;
    --color-white: #fdfdfd;
}

a, input, button {
    @apply outline-none focus-visible:outline-none
}