---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
---

<Layout title="Page Not Found">
    <Nav />
    <Main>
        <div class="main-404">
            <p>Error 404 Not found</p>
        </div>
    </Main>
</Layout>
<style>
  .main-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
</style>