---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
---

<Layout title="Page Not Found">
  <Nav />
  <Main>
    <p>Error 404 Not found</p>
  </Main>
</Layout>
