---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
import LF from "../components/LF.astro";
---

<Layout title="New tab">
    <Nav />
    <Main>
        <LF />
    </Main>
</Layout>
