---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

const { title } = Astro.props;
---

<!-- Base meta tags -->
<meta charset="utf-8" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
/>
<meta
    name="generator"
    content={Astro.generator}
/>
<link
    rel="icon"
    type="image/svg+xml"
    href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Crect width='16' height='16' fill='none'/%3E%3C/svg%3E"
/>
<ClientRouter />
<title>{title}</title>
<Font
    cssVariable="--font-jetbrains-mono"
    preload
/>
<Font cssVariable="--font-noto-sans-cjk" />
<Font cssVariable="--font-symbols-nerd-font" />
