---
type Entry = {
    name: string;
    icon?: string;
};

const files: Entry[] = [
    //
    { name: "Books", icon: " " },
    { name: "Documents", icon: " " },
    { name: "Downloads", icon: " " },
    { name: "Music", icon: " " },
    { name: "Pictures", icon: " " },
    { name: "Repos", icon: " " },
    { name: "Videos", icon: " " },
];
let activeIndex = 0;
---

<div>
    <span class="lf-prompt">陈刑@chenxing.io</span>
    <span>~/{files[activeIndex].name}</span>
</div>
<div class="lf-main">
    <div class="lf-pane lf-pane-left">
        {
            files.map((file, index) => {
                return (
                    <ul>
                        <li class={index === activeIndex ? "active" : ""}>
                            <span class="lf-icon">{file.icon || " "}</span>
                            {file.name}
                        </li>
                    </ul>
                );
            })
        }
    </div>
    <div class="lf-pane lf-pane-center"></div>
    <div class="lf-pane"></div>
</div>
<style>
    .lf-prompt {
        color: var(--color-accent);
    }
    .lf-main {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: minmax(140px, max-content) minmax(140px, max-content) 1fr;
        border: 1px solid var(--color-text);
    }
    .lf-pane {
        padding: 0.5em;
    }
    .lf-pane li {
        padding: 0 0.5em;
        line-height: 1.3;
    }
    .active {
        background-color: var(--color-text);
        color: var(--color-background);
    }
    .lf-pane-center {
        border-right: 1px solid var(--color-text);
        border-left: 1px solid var(--color-text);
    }
    .lf-icon {
        font-size: 14px;
        margin-right: 2px;
    }
</style>
