<main class="flex h-full w-full flex-col items-center overflow-hidden border border-black/70 bg-white/50 px-2 pb-2 font-mono transition-colors dark:border-white/70 dark:bg-black/50">
    <slot />
</main>
