---
import Clock from "./react/Clock";

const pathname = new URL(Astro.request.url).pathname;
---

<nav class="nav">
    <Clock client:load />
    <ul class="nav-icons">
        <li class={"nav-icon " + (pathname === "/" ? "active" : "")}>
            <a
                rel="prefetch"
                href="/"
                ></a
            >
        </li>
        <li class={"nav-icon " + (pathname === "/blog" ? "active" : "")}>
            <a
                rel="prefetch"
                href="/blog"
                ></a
            >
        </li>
    </ul>
</nav>
