---
import Clock from "./react/Clock";

const pathname = new URL(Astro.request.url).pathname;

const tabs = [
    { href: "/", icon: " ", padding: "1px" },
    { href: "/readme", icon: " ", padding: "3px" },
    { href: "/mit-license", icon: " " },
];
const bookmarks = [
    { href: "http://chenxing.io:8080/", text: "刑搜" },
    { href: "https://www.baidu.com/", text: "百度" },
    { href: "https://github.com/", text: "github" },
    { href: "https://hpanel.hostinger.com/", text: "hostinger" },
    { href: "https://www.tianyancha.com/", text: "天眼查" },
    { href: "https://www.126.com/", text: "126网易邮" },
];
---

<nav class="nav">
    <ul class="nav-tabs">
        {
            tabs.map((tab) => (
                <li class={"nav-icon " + (pathname === tab.href ? "active" : "")}>
                    <a
                        rel="prefetch"
                        href={tab.href}
                        style={{ paddingLeft: tab.padding }}
                    >
                        {tab.icon}
                    </a>
                </li>
            ))
        }
    </ul>
    <ul class="nav-bookmarks">
        {
            bookmarks.map((bookmark, index) => {
                return (
                    <li class="nav-bookmark">
                        <a href={bookmark.href}>{bookmark.text}</a>
                    </li>
                );
            })
        }
    </ul>
    <div class="nav-clock">
        <Clock client:load />
    </div>
</nav>
