<nav class="nav">
    <ul class="nav-ul">
        <li>
            <a
                rel="prefetch"
                href="/"
                >Home</a
            >
        </li>
        <li>
            <a
                rel="prefetch"
                href="/blog"
                >Blog</a
            >
        </li>
    </ul>
</nav>
