---
import Clock from "./Clock.astro";
---

<nav class="nav">
  <ul class="nav-ul">
    <li><Clock /></li>
    <li>
      <a rel="prefetch" href="/">首</a>
    </li>
    <li>
      <a rel="prefetch" href="/blog">博</a>
    </li>
  </ul>
</nav>
