---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="overflow-auto w-full">
    <div class="flex flex-col flex-1 items-center">
      <article class="prose prose-grey prose-sm mt-2 prose-p:leading-normal prose-p:my-1 prose-ol:my-1 prose-headings:mt-4 prose-h2:text-grey prose-hr:my-4">
        <slot />
      </article>
    </div>
  </div>
</Layout>
